In [1]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# confirm that the "autosaurus" database is in MongoDB
print(mongo.list_database_names())

['admin', 'autosaurus', 'classDB', 'config', 'fruits_db', 'local', 'petsitly_marketing']

In [4]:
# assign the database to a variable name
db = mongo['autosaurus']

In [5]:
# review the collections in our new database
print(db.list_collection_names())

['customers', 'mechanics']

In [6]:
# assign each collection to a variable
customers = db['customers']
mechanics = db['mechanics']

In [8]:
# Create a query that sorts in ascending order by last_service
query = {}
sort = [('last_service', -1)]

# Capture the results to a variable
results = customers.find(query).sort(sort)

# Pretty print the first five results
for i in range(5):
    pprint(results[i])

{'_id': 494,
 'car_make': 'Morgan',
 'car_model': 'Aero 8',
 'car_vin': '19XFA1E55AE906039',
 'car_year': 2009,
 'full_name': 'Faina Coat',
 'last_service': '9/9/22'}
{'_id': 494,
 'car_make': 'Morgan',
 'car_model': 'Aero 8',
 'car_vin': '19XFA1E55AE906039',
 'car_year': 2009,
 'full_name': 'Faina Coat',
 'last_service': '9/9/22'}
{'_id': 653,
 'car_make': 'Volkswagen',
 'car_model': 'Cabriolet',
 'car_vin': '2C3CA5CV6AH303820',
 'car_year': 2001,
 'full_name': 'Merci Duding',
 'last_service': '9/8/22'}
{'_id': 617,
 'car_make': 'Kia',
 'car_model': 'Optima',
 'car_vin': '19UYA42691A275727',
 'car_year': 2003,
 'full_name': 'Caritta Burl',
 'last_service': '9/8/22'}
{'_id': 301,
 'car_make': 'Mitsubishi',
 'car_model': 'Mighty Max',
 'car_vin': '3D7TT2CT5BG302149',
 'car_year': 1995,
 'full_name': 'Eirena Gilbride',
 'last_service': '9/7/22'}

In [10]:
# Create a query that sorts in ascending order by last_service and limits the results to the first 5
query = {}
sort = [('last_service', -1)]
limit = 5

# Pretty print the results
pprint(list(customers.find(query).sort(sort).limit(limit)))

[{'_id': 846,
  'car_make': 'Honda',
  'car_model': 'Element',
  'car_vin': 'WBADS43482G588500',
  'car_year': 2006,
  'full_name': 'Aurea Raittie',
  'last_service': '9/9/22'},
 {'_id': 494,
  'car_make': 'Morgan',
  'car_model': 'Aero 8',
  'car_vin': '19XFA1E55AE906039',
  'car_year': 2009,
  'full_name': 'Faina Coat',
  'last_service': '9/9/22'},
 {'_id': 617,
  'car_make': 'Kia',
  'car_model': 'Optima',
  'car_vin': '19UYA42691A275727',
  'car_year': 2003,
  'full_name': 'Caritta Burl',
  'last_service': '9/8/22'},
 {'_id': 653,
  'car_make': 'Volkswagen',
  'car_model': 'Cabriolet',
  'car_vin': '2C3CA5CV6AH303820',
  'car_year': 2001,
  'full_name': 'Merci Duding',
  'last_service': '9/8/22'},
 {'_id': 301,
  'car_make': 'Mitsubishi',
  'car_model': 'Mighty Max',
  'car_vin': '3D7TT2CT5BG302149',
  'car_year': 1995,
  'full_name': 'Eirena Gilbride',
  'last_service': '9/7/22'}]

In [9]:
# Create a query that:
# finds customers with a "Nissan" or "Hyundai"
# sorts in descending order by car_year
# limits the results to the first 5
query = {'car_make': {'$in': ["Nissan", "Hyundai"]}}
sort = [('car_year', -1)]
limit = 5

# Pretty print the results
pprint(list(customers.find(query).sort(sort).limit(limit)))

[{'_id': 966,
  'car_make': 'Hyundai',
  'car_model': 'Tucson',
  'car_vin': 'WBAFV3C52ED597363',
  'car_year': 2012,
  'full_name': 'Corny Marryatt',
  'last_service': '8/10/22'},
 {'_id': 416,
  'car_make': 'Nissan',
  'car_model': 'Versa',
  'car_vin': '5GADV23L25D047844',
  'car_year': 2012,
  'full_name': 'Trina Pride',
  'last_service': '2/27/22'},
 {'_id': 488,
  'car_make': 'Nissan',
  'car_model': 'Sentra',
  'car_vin': '3D7LP2ET6BG853076',
  'car_year': 2012,
  'full_name': 'Katerine Giffin',
  'last_service': '9/22/22'},
 {'_id': 204,
  'car_make': 'Nissan',
  'car_model': 'Maxima',
  'car_vin': 'JA32X2HU4CU568626',
  'car_year': 2011,
  'full_name': 'Alane Sturgess',
  'last_service': '1/19/22'},
 {'_id': 673,
  'car_make': 'Hyundai',
  'car_model': 'Genesis',
  'car_vin': '2D4RN3DG6BR998863',
  'car_year': 2011,
  'full_name': 'Gawain Smye',
  'last_service': '7/22/22'}]

In [10]:
# Create a query that:
# finds customers with a "Nissan" or "Hyundai"
# sorts in descending order by car_year, then ascending order by last_service
# limits the results to the first 5
query = {'car_make': {'$in': ["Nissan", "Hyundai"]}}
sort = [('car_year', -1), ('last_service', 1)]
limit = 5

# Pretty print the results
pprint(list(customers.find(query).sort(sort).limit(limit)))

[{'_id': 416,
  'car_make': 'Nissan',
  'car_model': 'Versa',
  'car_vin': '5GADV23L25D047844',
  'car_year': 2012,
  'full_name': 'Trina Pride',
  'last_service': '2/27/22'},
 {'_id': 966,
  'car_make': 'Hyundai',
  'car_model': 'Tucson',
  'car_vin': 'WBAFV3C52ED597363',
  'car_year': 2012,
  'full_name': 'Corny Marryatt',
  'last_service': '8/10/22'},
 {'_id': 488,
  'car_make': 'Nissan',
  'car_model': 'Sentra',
  'car_vin': '3D7LP2ET6BG853076',
  'car_year': 2012,
  'full_name': 'Katerine Giffin',
  'last_service': '9/22/22'},
 {'_id': 204,
  'car_make': 'Nissan',
  'car_model': 'Maxima',
  'car_vin': 'JA32X2HU4CU568626',
  'car_year': 2011,
  'full_name': 'Alane Sturgess',
  'last_service': '1/19/22'},
 {'_id': 969,
  'car_make': 'Hyundai',
  'car_model': 'Santa Fe',
  'car_vin': 'JH4CL95835C272957',
  'car_year': 2011,
  'full_name': 'Feodor Bellin',
  'last_service': '10/11/21'}]