In [3]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [4]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

# assign the met database to a variable name
db = mongo['met']

# assign the collection to a variable
artifacts = db['artifacts']

In [5]:
artifacts.find_one()

{'_id': ObjectId('64b5c397eb87d19a04edc005'),
 'objectID': 314893,
 'isHighlight': False,
 'accessionNumber': '1987.394.543',
 'accessionYear': '1987',
 'isPublicDomain': True,
 'primaryImage': 'https://images.metmuseum.org/CRDImages/ao/original/VS1987_394_543.jpg',
 'primaryImageSmall': 'https://images.metmuseum.org/CRDImages/ao/web-large/VS1987_394_543.jpg',
 'additionalImages': [],
 'constituents': None,
 'department': 'The Michael C. Rockefeller Wing',
 'objectName': 'Disk',
 'title': 'Animal Disk',
 'culture': 'Peruvian',
 'period': '',
 'dynasty': '',
 'reign': '',
 'portfolio': '',
 'artistRole': '',
 'artistPrefix': '',
 'artistDisplayName': '',
 'artistDisplayBio': '',
 'artistSuffix': '',
 'artistAlphaSort': '',
 'artistNationality': '',
 'artistBeginDate': '',
 'artistEndDate': '',
 'artistGender': '',
 'artistWikidata_URL': '',
 'artistULAN_URL': '',
 'objectDate': 'A.D. 200â€“900',
 'objectBeginDate': 200,
 'objectEndDate': 900,
 'medium': 'Copper, gilt',
 'dimensions': 'H x W: 3 5/16 x 3 1/8in. (8.4 x 8cm)',
 'measurements': [{'elementName': 'Overall',
   'elementDescription': None,
   'elementMeasurements': {'Height': 8.4137, 'Width': 8}}],
 'creditLine': 'Bequest of Jane Costello Goldberg, from the Collection of Arnold I. Goldberg, 1986',
 'geographyType': '',
 'city': '',
 'state': '',
 'county': '',
 'country': 'Peru',
 'region': '',
 'subregion': '',
 'locale': '',
 'locus': '',
 'excavation': '',
 'river': '',
 'classification': 'Metal-Ornaments',
 'rightsAndReproduction': '',
 'linkResource': '',
 'metadataDate': '2020-09-16T18:35:19.457Z',
 'repository': 'Metropolitan Museum of Art, New York, NY',
 'objectURL': 'https://www.metmuseum.org/art/collection/search/314893',
 'tags': [{'term': 'Animals',
   'AAT_URL': 'http://vocab.getty.edu/page/aat/300249525',
   'Wikidata_URL': 'https://www.wikidata.org/wiki/Q729'}],
 'objectWikidata_URL': '',
 'isTimelineWork': False,
 'GalleryNumber': ''}

In [6]:
# Write an aggregation query that counts the number of documents, grouped by "classification"
query = [{'$group': {'_id': "$classification", 'count': { '$sum': 1 }}}]

In [7]:
# Run the query with the aggregate method and save the results to a variable
results = list(artifacts.aggregate(query))

In [8]:
# Print the number of classifications in the result
len(results)

64

In [9]:
# Print the first 10 results
pprint(results[0:10])

[{'_id': 'Parchment', 'count': 1},
 {'_id': 'Wood-Sculpture', 'count': 217},
 {'_id': 'Ceramics-Containers', 'count': 138},
 {'_id': 'Costumes', 'count': 1},
 {'_id': 'Textiles-Costumes', 'count': 7},
 {'_id': 'Bone/Ivory-Ornaments', 'count': 31},
 {'_id': 'Paper-Drawings', 'count': 2},
 {'_id': 'Ceramics-Sculpture', 'count': 20},
 {'_id': 'Wood-Architectural', 'count': 11},
 {'_id': 'Textiles-Costumes-Accessories', 'count': 1}]

In [10]:
# Convert mongo result to Pandas DataFrame
result_df = pd.DataFrame(results)

# Print out the length of the DataFrame
print("Rows in DataFrame: ", len(result_df))


# Display the first 10 rows of the DataFrame
result_df.head(10)

Rows in DataFrame:  64

                             _id  count
0                      Parchment      1
1                 Wood-Sculpture    217
2            Ceramics-Containers    138
3                       Costumes      1
4              Textiles-Costumes      7
5           Bone/Ivory-Ornaments     31
6                 Paper-Drawings      2
7             Ceramics-Sculpture     20
8             Wood-Architectural     11
9  Textiles-Costumes-Accessories      1

Data Source: [The Metropolitan Museum of Art](https://www.metmuseum.org/) (2022). The Metropolitan Museum of Art Collection API https://metmuseum.github.io/. Licensed under the [Creative Commons 0 License](https://creativecommons.org/publicdomain/zero/1.0/).<br />
Accessed Oct 3, 2022. Data collected from departmentId=5 ("Arts of Africa, Oceania, and the Americas") and search string "animal".